name: Create new version release

on:
  push:
    tags:
      - 'v*'

jobs:
  create-github-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b #v2.5.0
        with:
          tag_name: '${{ github.ref_name }}'
          name: '${{ github.ref_name }}'
          generate_release_notes: true
    
  cleanup-on-failure:
    name: Cleanup on failure
    runs-on: ubuntu-latest
    needs: create-github-release
    # Run this job if any of the previous jobs failed, or if the workflow was cancelled
    if: ${{ ( always() && failure() ) || cancelled() }}
    permissions:
      contents: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0 
      
      # Delete newly created tag
      - name: Cleanup tag
        run: |
          git push origin ':${{ github.ref }}'
          echo "A job in the current workflow failed. Tag '${{ github.ref }}' was deleted."
      
      # Delete newly created GitHub release
      - name: Cleanup GitHub release
        run: |
           gh release delete '${{ github.ref_name }}' && echo "GitHub release was deleted." || echo "No GitHub release '${{ github.ref_name }}' to delete."